<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lab 4</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  </head>
  <body>
    <body style="background-color:#F8EDE3;">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="https://img2.pngdownload.id/20180712/lzt/kisspng-domestic-duck-the-ugly-duckling-clip-art-child-side-5b471f5361c773.9232129515313877314005.jpg" alt="Bootstrap" width="30" height="24">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="nav-item dropdown ">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  {{nama}}
                </a>
                <ul class="dropdown-menu">
                    <li><a class="nav-link" href="https://lab-pbp-ypn.herokuapp.com/">Heroku</a></li>
                    <li><a class="nav-link" href="{% url 'wishlist:logout' %}">Logout</a></li>
                  
                </ul>
            </div>
        </div>
    </nav>
    <div class="d-flex justify-content-right">
    <h5>Nama:  {{nama}} </h5>
    </div>

    <table class="table table-striped-columns table-bordered d-flex justify-content-center ">
        <tr>
        <th>Nama Barang</th>
        <th>Harga Barang</th>
        <th>Deskripsi</th>
        </tr>
        {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
        {% for barang in list_barang %}
        <tr>
            <th>{{barang.nama_barang}}</th>
            <th>{{barang.harga_barang}}</th>
            <th>{{barang.deskripsi}}</th>
        </tr>
        {% endfor %}
    </table>
    <footer class="fixed-bottom ">Sesi terakhir login: {{ last_login }}</footer>

    <h4>Tambah Baru</h4>
    <form method="POST" action="">
        {% csrf_token %}
        <table>
        <tr>
            <td>Nama Barang: </td>
            <td><input type="text" id="nama_barang" name="nama_barang" placeholder="Nama Barang" class="form-control"></td>
        </tr>

        <tr>
            <td>Harga Barang: </td>
            <td><input type="number" id="harga_barang" name="harga_barang" placeholder="Harga Barang" class="form-control"></td>
        </tr>

        <tr>
            <td>Deskripsi: </td>
            <td><textarea class="form-control" id="deskripsi" name="deskripsi"></textarea></td>
        </tr>

        <tr>
            <td></td>
            <td><input class="btn btn-primary" type="submit" value="Submit" id="newBtn"></td>
        </tr>
        </table>
    </form>
    </div>
  </body>
</html>


    
<script>
  function postNew(e) {
    e.preventDefault()
    const namaBarang = $("#nama_barang").val()
    const hargaBarang = $("#harga_barang").val()
    const deskripsi = $("#deskripsi").val()

    const data = {
      nama_barang: namaBarang,
      harga_barang: hargaBarang,
      deskripsi,
      csrfmiddlewaretoken: "{{ csrf_token }}"
    }

    $.ajax({
      type: 'POST',
      url: "{% url 'wishlist:create_wishlist' %}",
      data: data, 
      success: () => {
        alert("Done!")
        fetchData()
      },
      
      dataType: 'json'
    });
  }

  function writeTable(data) {
    const table = $("#tbl")
    table.empty()
    for (let i = 0; i < data.length; i++) {
      table.append(`
        <tr>
          <td>${data[i].fields.nama_barang}</td>
          <td>${data[i].fields.harga_barang}</td>
          <td>${data[i].fields.deskripsi}</td>
        </tr>
        `)
    }
  }

  function fetchData() {
    $.get("/wishlist/json", writeTable)
  }

  $(document).ready(() => {
    $("#newBtn").click(postNew)
    fetchData()
  })
</script>


